h1 {
    text-align: center;
    font-family: fantasy;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center
}

.ladybug { 
    width: 10px; 
    height: 10px; 
    position: absolute; 
    background-image: url("ladybug2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
}

#flowers {
    background-image: url("grass.png");
    height: 49px;
    width: 220px;
    margin-top: -40px
}

.wall, .space, .finish, .start {
    width: 10px;
    height: 10px;
}

.wall {
    background-color: green;
}

#maze {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column {
    display: flex;
}